<div class="pagination" *ngIf="totalPages > 1">

  <button class="page-btn nav" [disabled]="currentPage === 1" (click)="goTo(currentPage - 1)">
    ‹ Prev
  </button>

  <ng-container *ngFor="let page of pages">
    <span class="ellipsis" *ngIf="page === -1">…</span>
    <button class="page-btn" *ngIf="page !== -1"
      [class.active]="page === currentPage"
      (click)="goTo(page)">
      {{ page }}
    </button>
  </ng-container>

  <button class="page-btn nav" [disabled]="currentPage === totalPages" (click)="goTo(currentPage + 1)">
    Next ›
  </button>

</div>
